# Rules for making wordpress work in a subfolder
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule wp\-(.*)+.php$ wordpress/$0
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
